<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/admin/styleLogin.css}">
    <!-- Favicon -->
    <link th:href="@{/images/WingMan-black.png}" rel="icon"/>
    <title>Login Page | WingmanShop</title>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<div class="container" id="container">
    <div class="form-container sign-up">
        <form th:action="@{/dang-ky}" method="post" th:object="${khachHang}">
            <h1>Tạo Tài Khoản</h1>
            <div class="social-icons">
                <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <span>Sử dụng email và mật khẩu để đăng ký</span>
            <input type="text" placeholder="Họ tên" th:field="*{ten}">
            <span th:if="${#fields.hasErrors('ten')}" th:errors="*{ten}"></span>
            <input type="text" placeholder="Số điện thoại" th:field="*{sdt}">
            <span th:if="${#fields.hasErrors('sdt')}" th:errors="*{sdt}"></span>
            <input type="email" placeholder="Email" th:field="*{email}">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            <input type="password" placeholder="Password" th:field="*{matKhau}">
            <span th:if="${#fields.hasErrors('matKhau')}" th:errors="*{matKhau}"></span>
            <button>Đăng ký</button>
        </form>
    </div>
    <div class="form-container sign-in">
        <form th:action="@{/login}" method="post">
            <h1>Đăng nhập</h1>
            <div class="social-icons">
                <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <span>Sử dụng tài khoản của bạn</span>
            <span th:if="${param.error}" style="color: red">Email hoặc mật khẩu không chính xác!</span>
            <input type="email" placeholder="Email" name="email">
            <input type="password" placeholder="Password" name="password">
            <button type="button" data-target="#myModalLG" data-toggle="modal">Quên mật khẩu?</button>
            <button>Đăng nhập</button>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Chào mừng đến với Wingman!</h1>
                <p>Nhập thông tin cá nhân của bạn để sử dụng tất cả các tính năng của trang web</p>
                <button class="hidden" id="login">Đăng nhập</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Hello, Friend!</h1>
                <p>Đăng ký với thông tin cá nhân của bạn để sử dụng tất cả các tính năng của trang web</p>
                <button class="hidden" id="register">Đăng ký</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="myModalCG" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Quên mật khẩu</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label" for="mail">Email</label>
                    <input type="email" class="form-control" id="mail">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Đóng</button>
                <button class="btn btn-primary" type="button">Gửi mật khẩu</button>
            </div>
        </div>
    </div>
</div>

</div>
<script th:src="@{/js/admin/script.js}"></script>
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{https://code.jquery.com/jquery-3.6.4.min.js}"></script>
<!-- Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>

</html>